.navbar {
	margin-bottom: 0px !important;
	padding-right: 8px;
}
.navbar-header .btn {
	margin-top: 0.8em;
  	margin-bottom: 0.8em;
}
.navbar-brand {
	margin-left: 15px;
}
.row
	margin 0 !important
	
.panel-heading {
	padding: 8px 8px;
}

div.col-sm-6:nth-child(1) {
  padding-right: 0;
  padding-left: 0;
}
/*additionsl css*/
header {
  padding-top: 0.8em;
  padding-bottom: 0.8em;
}
li.list-group-item figure {
  display: inline;
}
/*positionierung der Items in list group item*/
div.profilImage {
  float: left;
}
div.profilAction {
  float: left;
}
li.list-group-item {
  overflow: hidden;
}
/*auszeichnung der Items in list group item*/
div.profilAction h4 {
  margin-top: 0;
  margin-bottom: 12px;
}
// icons ohne unterstreichung bei hover
figure.profilIcon a:hover, div.profilAction a:hover {
  text-decoration: none;
}
  
// panel styles
div.panel-heading button {
  float: right;
}
div.panel-heading h3 {
  float: left;
}
.panel-heading {
  overflow: hidden;
}
