/*bootstrap overwrites*/
body {
	background-color: tomato;
}
.navbar-form .form-group #suchFeld {
	width: 200px;
}
.navbar-form {
	margin: 0 !important;
	padding: 0 !important;

}
.navbar-toggle {
	float: left !important;
}
/*.no-gutter [class*="-6"] {
    padding:0 !important;
}*/
/*abstände vermeiden
.marginRow {
     margin: 0 !important;
     padding: 0 !important;
   }
.marginCol {
	 margin: 0 !important;
	 padding: 0 !important; 

}

div.col-xs-12.col-sm-6.col-md-4.col-lg-3 {
	margin-bottom: 0 !important;
}
div.row-fluid:nth-child(2) > div:nth-child(1) {
	margin-bottom: 0 !important;
}
.row {
	margin-bottom: 0 !important;
}*/
/*additionsl css*/
ul.dispIn li > * {
	display: inline;
}
li.list-group-item figure {
	display: inline;
}
/*positionierung der Items in list group item*/
div.profilImage {
	float: left;
}
div.profilAction {
	float: left;
}
li.list-group-item {
	overflow: hidden;
}
/*auszeichnung der Items in list group item*/

div.profilAction h4 {
	margin-top: 0;
	margin-bottom: 12px;
}

div.panel-heading button {
	float: right;
}
div.panel-heading h3 {
	float: left;
}

.panel-heading {
	overflow: hidden;
}