/*bootstrap overwrites*/
body {
  background-color: #00f;
}
div.col-sm-6:nth-child(1) {
  padding-right: 0;
  padding-left: 0;
}
/*additionsl css*/
header {
  padding-top: 0.8em;
  padding-bottom: 0.8em;
}
li.list-group-item figure {
  display: inline;
}
/*positionierung der Items in list group item*/
div.profilImage {
  float: left;
}
div.profilAction {
  float: left;
}
li.list-group-item {
  overflow: hidden;
}
/*auszeichnung der Items in list group item*/
div.profilAction h4 {
  margin-top: 0;
  margin-bottom: 12px;
}
div.panel-heading button {
  float: right;
}
div.panel-heading h3 {
  float: left;
}
.panel-heading {
  overflow: hidden;
}
